.notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 4rem;
    /* width: 50vw; */

}


.input {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0  0;
}

.btn {
    padding: .5rem 4rem;
    background-color: rgb(39, 45, 216);
    margin: 1rem 0 0 0;
    color: white;
}